In [2]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import IPython.display as ipd

# preprocess_tracks
tracks.csv에서 각 정보를 세분화후 csv로 따로 저장

path: /home/namo/CNN/data/fma_metadata/track_meta

In [73]:
csv_path = '/home/namo/CNN/data/fma_metadata/tracks.csv'
tracks = pd.read_csv(csv_path)
tracks = tracks.drop([1]).reset_index(drop=True)
tracks.loc[0, 'Unnamed: 0'] = 'id'

/tmp/ipykernel_2625458/2215459037.py:2: DtypeWarning: Columns (0,1,5,6,8,12,18,20,21,22,24,33,34,38,39,44,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  tracks = pd.read_csv(csv_path)

In [74]:
tracks.head()

,Unnamed: 0,album,album.1,album.2,album.3,album.4,album.5,album.6,album.7,album.8,...,track.10,track.11,track.12,track.13,track.14,track.15,track.16,track.17,track.18,track.19
0,id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
1,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
2,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
3,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
4,10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,...,NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway

In [76]:
tracks = tracks[tracks['set.1'].isin(['small', 'subset'])]
tracks.shape

(8001, 53)

In [77]:
columns = tracks.columns

track_col = [col for col in columns if 'track' in col]
artist_col = [col for col in columns if 'artist' in col]
album_col = [col for col in columns if 'album' in col]
set_col = [col for col in columns if 'set' in col]
index_col = [col for col in columns if col == 'Unnamed: 0']

track = tracks[index_col + track_col]
artist = tracks[index_col + artist_col]
album = tracks[index_col + album_col]
set = tracks[index_col + set_col]

In [ ]:
track.columns = track.iloc[0]
track = track.drop([0]).reset_index(drop=True)
track = track.rename(columns={track.columns[0]: 'track_id'})
track.head()

,track_id,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
0,2,256000,0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
1,5,256000,0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206,6,Hip-Hop,[21],...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
2,10,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],...,NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
3,140,128000,0,NaN,2008-11-26 01:44:07,2008-11-26 00:00:00,253,5,Folk,[17],...,NaN,1593,en,Attribution-Noncommercial-No Derivative Works ...,1299,NaN,2,NaN,[],Queen Of The Wires
4,141,128000,0,NaN,2008-11-26 01:44:10,2008-11-26 00:00:00,182,1,Folk,[17],...,NaN,839,en,Attribution-Noncommercial-No Derivative Works ...,725,NaN,4,NaN,[],Ohio

In [79]:
track.to_csv('/home/namo/CNN/data/fma_metadata/track_meta/track.csv', index=False)

artist.columns = artist.iloc[0]
artist = artist.drop([0]).reset_index(drop=True)
artist = artist.rename(columns={artist.columns[0]: 'track_id'})
artist.to_csv('/home/namo/CNN/data/fma_metadata/track_meta/artist.csv', index=False)

album.columns = album.iloc[0]
album = album.drop([0]).reset_index(drop=True)
album = album.rename(columns={album.columns[0]: 'track_id'})
album.to_csv('/home/namo/CNN/data/fma_metadata/track_meta/album.csv', index=False)

set.columns = set.iloc[0]
set = set.drop([0]).reset_index(drop=True)
set = set.rename(columns={set.columns[0]: 'track_id'})
set.to_csv('/home/namo/CNN/data/fma_metadata/track_meta/set.csv', index=False)

# data engineering

In [80]:
track = pd.read_csv('/home/namo/CNN/data/fma_metadata/track_meta/track.csv')
artist = pd.read_csv('/home/namo/CNN/data/fma_metadata/track_meta/artist.csv')
album = pd.read_csv('/home/namo/CNN/data/fma_metadata/track_meta/album.csv')
set = pd.read_csv('/home/namo/CNN/data/fma_metadata/track_meta/set.csv')

track.head()

,track_id,bit_rate,comments,composer,date_created,date_recorded,duration,favorites,genre_top,genres,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
0,2,256000,0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168,2,Hip-Hop,[21],...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
1,5,256000,0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206,6,Hip-Hop,[21],...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
2,10,192000,0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161,178,Pop,[10],...,NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
3,140,128000,0,NaN,2008-11-26 01:44:07,2008-11-26 00:00:00,253,5,Folk,[17],...,NaN,1593,en,Attribution-Noncommercial-No Derivative Works ...,1299,NaN,2,NaN,[],Queen Of The Wires
4,141,128000,0,NaN,2008-11-26 01:44:10,2008-11-26 00:00:00,182,1,Folk,[17],...,NaN,839,en,Attribution-Noncommercial-No Derivative Works ...,725,NaN,4,NaN,[],Ohio

In [81]:
csv_path = '/home/namo/CNN/data/fma_metadata/genres.csv'
tracks = pd.read_csv(csv_path)
tracks.head()

   genre_id  #tracks  parent          title  top_level
0         1     8693      38    Avant-Garde         38
1         2     5271       0  International          2
2         3     1752       0          Blues          3
3         4     4126       0           Jazz          4
4         5     4106       0      Classical          5